.faq-section {
  padding-top: 52px;
  padding-bottom: 52px;
  background-image: url(../img/faq/faq-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/faq/faq-bg-desk.png);
  }
}

.faq-title {
  text-align: center;
  margin-bottom: 52px;

  @include media(desktop) {
    margin-bottom: 76px;
  }
}

.faq-title-span {
  display: none;

  @include media(desktop) {
    display: inline;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    gap: 32px;
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 901px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-item-top-wrapper {
  border: 1px solid #e5e7eb;
  padding: 16px;

  @include media(desktop) {
    padding: 24px 32px;
  }
}

.faq-item-bottom-wrapper {
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  width: 100%;
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 23px;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
}

.faq-btn-text {
  font-family: 'Turret Road', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: left;
  width: 100%;
  max-width: 262px;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.08333;
    max-width: max-content;
  }
}

.faq-bottom-text {
  font-family: 'Turret Road', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-item-top-wrapper {
  background: rgba(0, 255, 247, 0.1);
  border: 1px solid #00fff7;
}

.faq-list-item.faq-open .faq-item-bottom-wrapper {
  border: 1px solid #979797;
  padding: 16px;
  margin-top: 12px;

  @include media(desktop) {
    padding: 24px 32px;
    margin-top: 8px;
  }
}

.faq-list-item.faq-open .faq-bottom-text {
  opacity: 0.8;
}

.faq-list-item.faq-open .faq-btn-text {
}

.faq-list-item.faq-open .faq-icon {
}
