.fragments-section {
  padding-top: 52px;
  padding-bottom: 52px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.fragments-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.fragments-top-text-wrapper {
  padding: 0 16px;
  margin-bottom: 52px;

  @include media(desktop) {
    padding: 0;
    margin-bottom: 76px;
  }
}

.fragments-top-text {
  font-family: 'Turret Road', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #f2f2f2;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    max-width: 761px;
  }
}

.fragments-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 52px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 24px;
    margin-bottom: 76px;
  }
}

.fragments-img {
  @include media(desktop) {
    min-width: 652px;
  }
}

.fragments-list-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0;
  }
}

.fragments-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    padding: 0;
    gap: 48.3px;
    max-width: 436px;
  }
}

.fragments-list-item {
}

.fragments-item-title {
  font-family: 'VT323', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #00fff7;
  margin-bottom: 4px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.fragments-item-text {
  font-family: 'Turret Road', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #f2f2f2;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}

.fragments-bottom-text-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0;
  }
}

.fragments-bottom-text {
  font-family: 'Turret Road', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #f2f2f2;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    max-width: 761px;
  }
}
