.header {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 0px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 10px;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.header-container {
  padding: 0 14px;

  @include media(desktop) {
    padding: 0 55px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
  }
}

.header-contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  min-width: 103px;

  @include media(desktop) {
    gap: 16px;
    font-size: 24px;
    min-width: 176px;
  }
}

.header-span {
  min-width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
}

.header-logo-link {
}

.nav-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  min-width: 103px;

  @include media(desktop) {
    gap: 16px;
    font-size: 24px;
    min-width: 176px;
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}
