.hero-section {
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 0px center;
  background-size: auto;
  padding-top: 122px;
  padding-bottom: 179px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.png);
    padding-top: 207px;
    padding-bottom: 316px;
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 40px;
  }
}

.hero-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
  color: #fff;

  @include media(desktop) {
    font-size: 26px;
    max-width: 938px;
    margin-left: auto;
    margin-right: auto;
  }
}
