<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-top-text-wrapper">
      <h2 class="section-title about-title">What_Is_Codemo?</h2>
      <p class="about-top-text">
        Codemo: Recursive Protocol is a logic-based simulation where players
        write, override, and redirect behaviors inside a live generative system.
        It borrows from programming language syntax, neural feedback loops, and
        puzzle mechanics — wrapped inside a meta-narrative where your “player”
        identity is questioned.<br />
        <br />
        You may write one function that saves the system.<br />
        Or a single line that erases everything.
      </p>
    </div>
    <div class="about-img-wrapper">
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="628"
          height="328"
        />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="375"
          height="259"
        />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="259"
          loading="lazy"
        />
      </picture>
      <div class="about-img-text-wrapper">
        <p class="about-img-text">
          There are no levels. Only iterations.<br />
          No enemies. Only anomalies.<br />
          No clear goal.<br />
          Only protocol completion percentages — and emergent behavior.
        </p>
      </div>
    </div>
    <div class="about-bottom-text-wrapper">
      <p class="about-bottom-text">
        You may write one function that saves the system.<br />
        Or a single line that erases everything.
      </p>
    </div>
  </div>
</section>
