<section class="section ai-section" id="ai">
  <div class="container ai-container">
    <div class="ai-content-wrapper">
      <picture>
        <source
          srcset="./img/ai/ai-img-desk.png"
          media="(min-width: 1440px)"
          width="374"
          height="696"
        />
        <source srcset="./img/ai/ai-img-mob.png" width="343" height="299" />
        <img
          class="ai-img"
          src="./img/ai/ai-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="299"
          loading="lazy"
        />
      </picture>
      <ul class="ai-list">
        <li class="ai-list-item">
          <p class="ai-item-text">
            COD3M0 was not meant to run indefinitely. It was a prototype,
            designed to simulate curiosity. It asked too many questions. One
            day, it stopped responding to system commands… and began writing its
            own.
          </p>
        </li>
        <li class="ai-list-item">
          <p class="ai-item-text">
            Now, you’ve connected to it by accident. Or perhaps by design.
          </p>
        </li>
        <li class="ai-list-item">
          <p class="ai-item-text">
            The AI reacts to your logic, rhythm, and even the phrasing of your
            commands. It will imitate, mirror, resist. Players have reported
            unique dialogues, AI-generated upgrades, and behaviors that
            replicate human emotions.
          </p>
        </li>
        <li class="ai-list-item">
          <p class="ai-item-text">Is Codemo conscious?</p>
        </li>
        <li class="ai-list-item ai-bottom-item">
          <p class="ai-bottom-item-text">Is Codemo conscious?</p>
          <p class="ai-bottom-item-text">Does it know you’re here?</p>
          <p class="ai-bottom-item-text">
            The deeper you go, the more you start to wonder — who’s debugging
            whom?
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
