<section class="section board-section" id="board">
  <div class="board-wrapper">
    <div class="container board-container">
      <h2 class="section-title board-title">
        Incident Board – Critical Moments Logged
      </h2>
      <p class="board-text">
        Nexaero includes scripted and procedural incidents that reflect
        real-world aviation failures — and how small mistakes escalate.<br />
        Examples:
      </p>
      <ul class="board-list">
        <li class="board-list-item">
          <div class="board-img-wrapper">
            <picture>
              <source
                srcset="./img/board/board-black-box-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100"
              />
              <source
                srcset="./img/board/board-black-box-mob.png"
                width="50"
                height="50"
              />
              <img
                class="board-black-box-img"
                src="./img/board/board-black-box-mob.png"
                alt="Black box"
                width="50"
                height="50"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="board-item-text-wrapper">
            <h3 class="board-item-title">#017-A:</h3>
            <p class="board-item-text">
              Improper sealant replacement on hydraulic panel → gear fails on
              taxi
            </p>
          </div>
        </li>
        <li class="board-list-item">
          <div class="board-img-wrapper">
            <picture>
              <source
                srcset="./img/board/board-plane-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100"
              />
              <source
                srcset="./img/board/board-plane-mob.png"
                width="50"
                height="50"
              />
              <img
                class="board-plane-img"
                src="./img/board/board-plane-mob.png"
                alt="Plane"
                width="50"
                height="50"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="board-item-text-wrapper">
            <h3 class="board-item-title">#043-C:</h3>
            <p class="board-item-text">
              Late night engine code misread → twin-prop release with latent
              fault
            </p>
          </div>
        </li>
        <li class="board-list-item">
          <div class="board-img-wrapper">
            <picture>
              <source
                srcset="./img/board/board-wrench-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100"
              />
              <source
                srcset="./img/board/board-wrench-mob.png"
                width="50"
                height="50"
              />
              <img
                class="board-wrench-img"
                src="./img/board/board-wrench-mob.png"
                alt="Wrench"
                width="50"
                height="50"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="board-item-text-wrapper">
            <h3 class="board-item-title">#122-B:</h3>
            <p class="board-item-text">
              Sensor flagged oxygen leak — dismissed due to system redundancy.
              Post-flight pilot hospitalized
            </p>
          </div>
        </li>
        <li class="board-list-item">
          <div class="board-img-wrapper">
            <picture>
              <source
                srcset="./img/board/board-clock-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100"
              />
              <source
                srcset="./img/board/board-clock-mob.png"
                width="50"
                height="50"
              />
              <img
                class="board-clock-img"
                src="./img/board/board-clock-mob.png"
                alt="Clock"
                width="50"
                height="50"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="board-item-text-wrapper">
            <h3 class="board-item-title">#008-F:</h3>
            <p class="board-item-text">
              Perfect paperwork. System all green. And yet, 2 minutes after
              takeoff… power cascade. Did you miss something?
            </p>
          </div>
        </li>
      </ul>
      <p class="board-bottom-text">
        These are not cutscenes. They’re consequences of decisions you make
        under pressure.
      </p>
    </div>
  </div>
</section>
