<div class="menu">
  <nav class="menu-nav">
    <ul class="menu-nav-list">
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#home"
          >Booting the Protocol</a
        >
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#about">What Is Codemo?</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#gameplay"
          >Gameplay Layers</a
        >
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#ai">The Recursive AI</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#fragments"
          >Fragments, Errors & Side Effects</a
        >
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#logs">Player Logs</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#tree"
          >Adaptive Protocol Tree</a
        >
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#faq"
          >FAQ – Syntax & Speculation</a
        >
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#modes">Codemo Modes</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="./index.html#philosophy"
          >The Codemo Philosophy</a
        >
      </li>
    </ul>
  </nav>
</div>
