<section class="section dispatches-section" id="dispatches">
  <div class="container dispatches-container">
    <h2 class="section-title dispatches-title">
      Ground Crew Dispatches – What Techs Say
    </h2>
    <div class="dispatches-swiper-container">
      <ul class="swiper-wrapper dispatches-swiper-wrapper">
        <li class="swiper-slide dispatches-slide">
          <p class="dispatches-text">
            <span class="dispatches-item-span">@owlshift_jay</span><br />
            <br />“This is the first game I’ve played where I actually felt like
            I was inside a real hangar. I don’t mean the graphics. I mean the
            silence, the doubt, the checklist you almost skipped.”
          </p>
        </li>
        <li class="swiper-slide dispatches-slide">
          <p class="dispatches-text">
            <span class="dispatches-item-span">@metaltorque_52</span><br />
            <br />“I had to choose between delaying a VIP flight or trusting a
            flagged sensor that passed calibration. I let it go. Nothing
            happened. But I still think about it.”
          </p>
        </li>
        <li class="swiper-slide dispatches-slide">
          <p class="dispatches-text">
            <span class="dispatches-item-span">@dyelatch</span><br />
            <br />
            “It’s not about being right. It’s about being careful. That’s what
            Nexaero teaches.”
          </p>
        </li>
        <li class="swiper-slide dispatches-slide">
          <p class="dispatches-text">
            <span class="dispatches-item-span">@wingboltZero</span><br />
            <br />
            “That moment when the tool request system fails mid-repair and you
            have 40 seconds to decide — override protocol or cancel release.
            That is gameplay.”
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="controls dispatches-controls">
    <button
      class="arrow-btn"
      id="dispatchesLeftArrow"
      aria-label="Previous slide"
    >
      <svg class="arrow-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-left-arrow"></use>
      </svg>
    </button>
    <button class="arrow-btn" id="dispatchesRightArrow" aria-label="Next slide">
      <svg class="arrow-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>
</section>
