<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-top-wrapper">
      <div class="footer-nav-wrapper">
        <p class="footer-nav-text">Navigation:</p>
        <nav class="footer-nav">
          <ul class="footer-list">
            <li class="footer-list-item">
              <a class="footer-link" href="./privacy-policy.html"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" href="./terms-and-conditions.html"
                >Terms & Conditions</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" href="./cookies-policy.html"
                >Cookies Policy</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-contact-wrapper">
        <p class="footer-contact-text">Contact:</p>
        <ul class="footer-contact-list">
          <li class="footer-contact-item">
            <a href="mailto:info@codemo.online" class="footer-contact-link"
              >info@codemo.online</a
            >
          </li>
          <li class="footer-contact-item">
            <a href="" class="footer-contact-link"
              >Sector 7A, Server Grid Node 0x7E</a
            >
          </li>
          <li class="footer-contact-item">
            <a href="" class="footer-contact-link"
              >Monday–Friday, 09:00–17:00 CET</a
            >
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text">
      © 2025 codemo.online – All logic loops initialized. All fragments
      observed.
    </p>
  </div>
</footer>
