<section class="section fragments-section" id="fragments">
  <div class="container fragments-container">
    <div class="fragments-top-text-wrapper">
      <h2 class="section-title fragments-title">
        Fragments, Errors_&_Side_Effects
      </h2>
      <p class="fragments-top-text">
        Everything you do leaves behind data — successful or not. These
        fragments power the upgrade tree, unlock forbidden functions, and
        corrupt previous paths. Sometimes intentionally.
      </p>
    </div>
    <div class="fragments-img-wrapper">
      <picture>
        <source
          srcset="./img/fragments/fragments-bg-desk.png"
          media="(min-width: 1440px)"
          width="652"
          height="471"
        />
        <source
          srcset="./img/fragments/fragments-bg-mob.png"
          width="375"
          height="272"
        />
        <img
          class="fragments-img"
          src="./img/fragments/fragments-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="272"
          loading="lazy"
        />
      </picture>
      <div class="fragments-list-wrapper">
        <ul class="fragments-list">
          <li class="fragments-list-item">
            <h3 class="fragments-item-title">
              Syntax Fragments . . . . . . . . . . . . .
            </h3>
            <p class="fragments-item-text">
              Used to unlock new command templates
            </p>
          </li>
          <li class="fragments-list-item">
            <h3 class="fragments-item-title">
              Error Logs . . . . . . . . . . . . . . . .
            </h3>
            <p class="fragments-item-text">
              Paradoxically valuable — analyzing them gives deeper insight
            </p>
          </li>
          <li class="fragments-list-item">
            <h3 class="fragments-item-title">
              Cascading Effects . . . . . . . . . . . . .
            </h3>
            <p class="fragments-item-text">
              Your fifth command might change how the first one behaves
            </p>
          </li>
          <li class="fragments-list-item">
            <h3 class="fragments-item-title">
              Phantom Nodes . . . . . . . . . . . . . . .
            </h3>
            <p class="fragments-item-text">
              Glitches that replicate themselves and reroute your logic map
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="fragments-bottom-text-wrapper">
      <p class="fragments-bottom-text">
        Some of the most powerful abilities come not from solving problems, but
        from breaking the intended path and watching what happens.
      </p>
    </div>
  </div>
</section>
