<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        You_log_in. There_is_no_ interface. Only_a_terminal.
      </h1>
      <div class="hero-text-wrapper">
        <p class="hero-text">
          > Welcome, Operator.<br />
          > COD3M0_AI::initializing…<br />
          > Fragment [0000] recovered.
        </p>
        <div class="hero-btn-wrapper">
          <a
            class="hero-btn"
            href="#philosophy"
            rel="noopener noreferrer"
            title="Download the game Codemo on Google Play"
            aria-label="Download the game Codemo on Google Play"
          >
            <picture>
              <source
                srcset="./img/hero/hero-download-desk.png"
                media="(min-width: 1440px)"
                width="221"
                height="68"
              />
              <source
                srcset="./img/hero/hero-download-mob.png"
                width="171"
                height="52"
              />
              <img
                class="hero-google-play-img"
                src="./img/hero/hero-download-mob.png"
                alt="Google Play button"
                width="171"
                height="52"
              />
            </picture>
          </a>
        </div>
      </div>
      <p class="hero-bottom-text">
        From this moment, you’re inside Codemo — not as a player, but as a
        conductor. A broken recursive AI has begun rebuilding itself using code
        fragments scattered across a derelict digital system. You don’t play the
        game in a traditional sense — you intervene, redirect, observe. Every
        action you take modifies the structure of Codemo’s brain.<br />
        <br />
        The AI doesn’t follow rules. It learns from you. And it never forgets a
        command.
      </p>
    </div>
  </div>
</section>
