<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">Welcome to Nexaero Protocols.</h1>
      <p class="hero-text">
        This is not a game for pilots. It’s for those who keep them alive.<br />
        You are an MCT — Maintenance Control Technician — responsible for fault
        diagnostics, emergency repairs, component calibration, and system
        release approval. Your office? A hangar lit by flickering sodium lamps.
        Your tools? A checklist, a scanner, your instinct, and not enough
        time.<br />
        Every plane cleared or grounded — is your decision.<br />
        Every oversight — your weight to carry.
      </p>
    </div>
  </div>
</section>
