<section class="section interface-section" id="interface">
  <div class="interface-wrapper">
    <div class="container interface-container">
      <h2 class="section-title interface-title">Aircraft Systems Interface</h2>
      <p class="interface-text">You’ll interact with:</p>
      <ul class="interface-list">
        <li class="interface-list-item">
          <picture>
            <source
              srcset="./img/interface/interface-computer-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/interface/interface-computer-mob.png"
              width="50"
              height="50"
            />
            <img
              class="interface-img"
              src="./img/interface/interface-computer-mob.png"
              alt="Computer"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <div class="interface-item-text-wrapper">
            <h3 class="interface-item-title">AeroSimOS 4.9:</h3>
            <p class="interface-item-text">
              the core maintenance OS — glitchy, legacy-based, but powerful
            </p>
          </div>
        </li>
        <li class="interface-list-item">
          <picture>
            <source
              srcset="./img/interface/interface-dashboard-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/interface/interface-dashboard-mob.png"
              width="50"
              height="50"
            />
            <img
              class="interface-img"
              src="./img/interface/interface-dashboard-mob.png"
              alt="Dashboard"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <div class="interface-item-text-wrapper">
            <h3 class="interface-item-title">Multisystem Dashboard:</h3>
            <p class="interface-item-text">
              real-time engine, hydraulic, avionics and pressurization stats
            </p>
          </div>
        </li>
        <li class="interface-list-item">
          <picture>
            <source
              srcset="./img/interface/interface-vr-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/interface/interface-vr-mob.png"
              width="50"
              height="50"
            />
            <img
              class="interface-img"
              src="./img/interface/interface-vr-mob.png"
              alt="VR glasses"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <div class="interface-item-text-wrapper">
            <h3 class="interface-item-title">VR Check Modules:</h3>
            <p class="interface-item-text">
              3D simulation of known failure modes and responses
            </p>
          </div>
        </li>
        <li class="interface-list-item">
          <picture>
            <source
              srcset="./img/interface/interface-tablet-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/interface/interface-tablet-mob.png"
              width="50"
              height="50"
            />
            <img
              class="interface-img"
              src="./img/interface/interface-tablet-mob.png"
              alt="Tablet"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <div class="interface-item-text-wrapper">
            <h3 class="interface-item-title">Tablet Toolkit:</h3>
            <p class="interface-item-text">
              checklists, component breakdowns, tool reservations, and unlock
              requests
            </p>
          </div>
        </li>
      </ul>
      <p class="interface-bottom-text">
        The interface is designed to distract you when it matters most —
        overlapping alerts, unreadable labels, contradictory inputs.<br />
        You must learn to prioritize.<br />
        Because the aircraft doesn’t care if you’re tired.<br />
        It will take off anyway — if you let it.
      </p>
    </div>
  </div>
</section>
