<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="48" height="49">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home"
            >Flightline Welcome</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#role"
            >Role & Responsibility</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#interface"
            >Aircraft Systems Interface</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#board"
            >Incident Board</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#dispatches"
            >Ground Crew Dispatches</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#toolkit"
            >Toolkit & Procedures</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
