<section class="section role-section" id="role">
  <div class="role-wrapper">
    <div class="container role-container">
      <h2 class="section-title role-title">
        Your Role: Between Sky and Ground
      </h2>
      <p class="role-text">
        NEXAERO places you inside an operational aerospace facility with
        real-time responsibilities. Your shift lasts six hours — compressed into
        gameplay. Tasks queue up fast, requests overlap, documentation must be
        complete. Lives depend on you.
      </p>
      <p class="role-functions-title">Core Functions:</p>
      <div class="role-picture-wrapper">
        <p class="role-functions-text">
          • Review fault reports submitted by onboard sensors or crew<br />
          • Perform subsystem diagnostics via simulated digital interface<br />
          • Validate physical repair via maintenance drone input<br />
          • Make critical release/no-release calls on scheduled flights<br />
          • Navigate pressure from Operations vs. Safety
        </p>
        <picture>
          <source
            srcset="./img/role/role-bg-desk.png"
            media="(min-width: 1440px)"
            width="451"
            height="415"
          />
          <source
            srcset="./img/role/role-bg-mob.png"
            width="351"
            height="218"
          />
          <img
            class="role-img"
            src="./img/role/role-bg-mob.png"
            alt="Screenshot of the game"
            width="351"
            height="218"
            loading="lazy"
          />
        </picture>
      </div>
      <p class="role-bottom-text">
        This is not abstract clicking. You will read real manuals, interpret
        flight logs, match symptom codes, and fight against fatigue.
      </p>
    </div>
  </div>
</section>
