<section class="section tree-section" id="tree">
  <div class="container tree-container">
    <h2 class="section-title tree-title">Adaptive_Protocol_Tree</h2>
    <p class="tree-top-text">
      The Protocol Tree in Codemo is not a fixed structure. It begins blank — a
      void of potential. Every function you write, command you issue, or
      exception you trigger becomes a seed. That seed grows based on its
      efficiency, error resilience, and emotional signature (yes, Codemo assigns
      one).
    </p>
    <p class="tree-text">Operators will see different branches dependin</p>
    <div class="tree-list-wrapper">
      <ul class="tree-list">
        <li class="tree-list-item">
          <picture>
            <source
              srcset="./img/tree/tree-img1-desk.png"
              media="(min-width: 1440px)"
              width="562"
              height="176"
            />
            <source
              srcset="./img/tree/tree-img1-mob.png"
              width="343"
              height="180"
            />
            <img
              class="tree-img"
              src="./img/tree/tree-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="180"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="tree-list-item">
          <picture>
            <source
              srcset="./img/tree/tree-img2-desk.png"
              media="(min-width: 1440px)"
              width="562"
              height="176"
            />
            <source
              srcset="./img/tree/tree-img2-mob.png"
              width="343"
              height="180"
            />
            <img
              class="tree-img"
              src="./img/tree/tree-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="180"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
      <ul class="tree-list">
        <li class="tree-list-item">
          <picture>
            <source
              srcset="./img/tree/tree-img3-desk.png"
              media="(min-width: 1440px)"
              width="562"
              height="176"
            />
            <source
              srcset="./img/tree/tree-img3-mob.png"
              width="343"
              height="180"
            />
            <img
              class="tree-img"
              src="./img/tree/tree-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="180"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="tree-list-item">
          <picture>
            <source
              srcset="./img/tree/tree-img4-desk.png"
              media="(min-width: 1440px)"
              width="562"
              height="176"
            />
            <source
              srcset="./img/tree/tree-img4-mob.png"
              width="343"
              height="180"
            />
            <img
              class="tree-img"
              src="./img/tree/tree-img4-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="180"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <p class="tree-bottom-text">
      Some branches manifest only when you reach 2% or 98% system entropy.
      Others appear only if you’ve interacted in absolute silence (no
      keyboard/mouse for 3 minutes). One rare branch reportedly unlocked when a
      player sent no input for 12 hours straight. It granted the node:
      autoconscious() — but no documentation was ever recovered.<br />
      <br />
      The tree is not a feature. It is a reflection — of thought, rhythm, and
      control. And once it becomes self-aware… it begins growing on its own.
    </p>
  </div>
</section>
